{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    <h1>Library</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ library.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ library.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ library.city }}</td>
            </tr>
            <tr>
                <th>OpenTime</th>
                <td>{{ library.openTime ? library.openTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CloseTime</th>
                <td>{{ library.closeTime ? library.closeTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FoundationDate</th>
                <td>{{ library.foundationDate ? library.foundationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>LibraryRules</th>
                <td>{{ library.libraryRules }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_library_index') }}">back to list</a>

    <a href="{{ path('app_library_edit', {'id': library.id}) }}">edit</a>

    {{ include('admin/admin-library/_delete_form.html.twig') }}
{% endblock %}
